BODY {PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}

.head_ad {	
POSITION: relative; 
TEXT-ALIGN: left; 
MARGIN: 0px auto; 
WIDTH: 980px; 
DISPLAY: none;
font-size:12px}

.head_ad DIV {MARGIN-BOTTOM: 10px}

.right_words
{
	text-align:left;
}