
.sliderbox dd {
	height:950px;  
	
	
	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #add9e8; 
	padding: 0; 
	margin: 0; 
	position:relative;
	overflow:hidden; 
}

*{
	margin: 0;
	padding: 0;
}
body{ 
	font-size: 12px;
	color: #fff; 
	margin:0px;
	padding:0px; 
	font-family:"微软雅黑"; 
	background-color:#fdf7ea; 
}

table
{
	cellspacing:0px;
	border-collapse:collapse;
}

td
{
	word-break:break-all ; 
}
img { border: 0;}
h2.title_name {
	font-family: normal Georgia,'Times New Roman',Times,serif;
	font-weight: normal;
	font-size: 4em;
	margin: 0;
	padding: 0px 0 0px 0;
	text-align: center;
}
h2.title_name span {
	font-family: normal Georgia,'Times New Roman',Times,serif;
	color: #f9f66d;
	font-size: 0.9em;
}
h2.title_name small {
	color: #AAAAAA;
	display: block;
	font-family: normal Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.2em;
	letter-spacing: 1.0em;
	text-transform: uppercase;
}
p.copy_right {
	width: 750px;
	margin: 0px auto ;
	clear: both;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: center;
	overflow: hidden;
}
p.copy_right a {
	color: #01B2F1;
}
p.copy_right a:hover {
	text-decoration: none;
}
/* Content Begin */
#col {
	width:980px;
	margin: 0px auto;
	clear: both;
	padding-bottom: 0px;
	border:0px;
}
/* Homepage Style */
.sliderbox { 
	width:100%;  
	margin: 0 auto; 
	overflow:hidden;
}
.sliderbox a { color:#01B2F1;}
.sliderbox a:hover { 
	color:#C0B692;
	text-decoration: none;
}
.sliderbox dt {
	height:32px;
	width:100%;
	cursor:pointer; 
	background:url(../images/index/index_product_list/list_product_title1.png) repeat-x; 
}
.sliderbox .open { 
	font-size: 13px;  
	background: #333 url(../images/index_product_list/list_product_title12.gif) repeat-x; 
	color: #01b2f1; 
	cursor: default;
}
.sliderbox .title {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	font-size: 13px; 
	color: #d8f1b0; 
	padding: 0 0 0 40px; 
	line-height: 30px;
}	
.sliderbox .date {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color:#CCC;
	float: right; 
	display: block; 
	padding: 10px 15px 0 0;
}		
.sliderbox dt:hover span { color:#FFFFFF;}	
.sliderbox .open:hover span { color:#FFFFFF;}	
.sliderbox .open:hover .date { color:#366A80;}	
.sliderbox .n_thumb { 
	width: 113px; 
	height: 125px;
	float:right; 
	padding:0 0 20px 20px; 
}
.sliderbox .text { 
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	font-size: 11px; 
	color: #99cee0; 
}
.sliderbox .text .readmoreline { 
	text-transform:uppercase; 
	padding: 12px 0 0 0; 
	display: block;
}
.sliderbox .text .readmoreline .arrow {
	width: 14px; 
	height: 14px;  
	display: block; 
	float: left; 
	margin: 1px 8px 0 0; 
	font-size: 0px; 
	line-height: 0px;
}	
.sliderbox .text .readmoreline:hover .arrow { background-position: bottom left;}	
.sliderbox .text .readmoreline:hover { text-decoration: none;}	
.sliderbox .thumb { 
	cursor:pointer; 
	margin:5px 15px 10px 20px;
}
.newsarchive .thumb, .sliderbox .thumb {
	width: 113px;
	height: 125px;
	background-image:url(../images/index/index_product_list/list_product_title1.png); 
	background-repeat: no-repeat;
	display: block;
	float: right;
}
.sliderbox .text .readmoreline {
	display: block;
	padding: 12px 0 0;
	text-transform: uppercase;
}
